@import url(https://gilbn.github.io/theme.park/CSS/themes/sonarr/sonarr-base.css);
:root {
  /*position: fixed;*/
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;

  /*Fallback if gradeints don't work */
  background: #9b59b6;
  /*Linear gradient... */
  background: radial-gradient(at center, #3498db, #9b59b6);

  --main-bg-color: radial-gradient(at center, #3498db, #9b59b6);
  --modal-bg-color: radial-gradient(ellipse at top, #47918a 0%, #0b3161 100%)
    center center/cover no-repeat fixed;

  --calendar-tv-Unaired-Premiere: #35c5f4;
  --calendar-tv-Downloading: #7932ea;
  --calendar-tv-Unmonitored: grey;
  --calendar-tv-Unaired: #337ab7;
  --calendar-tv-missing: #d9534f;
  --calendar-tv-On-Air: #f0ad4e;
  --calendar-tv-available: #5cb85c;

  --button-color: #009688;
  --button-color-hover: #12afa0;
  --accent-color: #009688;
  --accent-color-hover: #12afa0;
  --queue-color: #009688;
}
