@import url(https://gilbn.github.io/theme.park/CSS/themes/bazarr/bazarr-base.css);
:root {
  /*
  * --main-bg-color: radial-gradient(ellipse at center, #47918a 0%, #0b3161 100%) center center/cover no-repeat fixed;
  *  --modal-bg-color: radial-gradient(ellipse at top, #47918a 0%, #0b3161 100%) center center/cover no-repeat fixed;
  */
  --button-color: #009688;
  --button-color-hover: #12afa0;
  --accent-color: #009688;
  --accent-color-hover: #12afa0;
}
.scroll-sidebar {
  background: rgba(0, 0, 0, 0.25) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
